@import 'src/shared/styles/variables';

.aside {
  width: 164px;
  padding: 0 0 10px;
  height: 100vh;
  overflow: hidden;
  font-size: 13px;
}
.asideLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 5px;
  margin: 0;
}
.asideLinksItem {
  list-style-type: none;
}
.asideLinksItemContent {
  height: 30px;
  display: flex;
  gap: 10px;
  color: $sidebar-text;
  align-items: center;
  border-radius: 5px;
}
.asideLinksItemContentTitle {
  width: 100%;
  line-height: 30px;
}
.asideLinksItemContent:hover {
  background-color: $hover-text-color;
}
