.btn{
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
}

.mainBtn{
    width: 220px;
    height: 40px;
    background-color: #999A9C;
    color: #303031;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}