.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #141414;
  width: 100%;
  padding-top: 15px;
}
.container {
  padding: 0 15px;
  max-width: 1076px;
  width: 95%;
  display: flex;
}
